<div class="jumbotron">
    <h2>
        Bienvenido a ITLA Bank
    </h2>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Que es ITLA Bank?</h3>
    </div>
    <div class="panel-body">
        Somos una institucion que te permite mantener tu dinero seguro.
    </div>
</div>